Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Marshmallow
marshmallow-sqlalchemy
Werkzeug
Flask-JWT-Extended
Flask-Cors
Flask-Mail
SQLAlchemy
numpy
python-dotenv
marshmallow
marshmallow_sqlalchemy
pytest
PyJWT
iniconfig
python-dateutil
Flask-Security
faker
Flask-Mail